<div id = "form">
<%= bootstrap_form_for @message do |m| %> 
	<%= m.text_field :content, class: "form-control"%> 
	<%= m.text_field :name,  class: "form-control" %> 
	<%= m.text_field :number, class: "form-control" %> 
	<%=m.submit class: "btn btn-info" %> 

	<% end %> 
</div>
