<div class = "form">

<%= bootstrap_form_for @call do |f| %>
    <% @call.errors.full_messages.each do |error| %>
      <%= end %> 
    <% end %>

  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>


  <p>
    <%= f.submit  %> 
  </p>



<% end %>
